*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(218,219,210,1) 15%); 
    height:100vh;
    /* overflow: hidden; */
}

main {
    height: 100%;
}

.myContainer {
    width: 1200px;
    height: calc(100vh - 8rem);
    margin: 0 auto;
}

#contChatUser{
    margin-top: 2rem;
    background-color: #eaeaea;
    border-radius: 0 20px 0 0;
}

#contUser{
    border-right: 1px solid #222;
    margin-top: 2rem;
    background-color: #eaeaea;
    border-radius: 20px 0 0;
}



.UserPic {
    border-radius: 50%;
    width: 100%;
}

.timeLeftCol {
    flex-direction: row;
    justify-content: end;
}

.attivaNotifiche{
    background-color: #8edafc;
    height: 60px;
}

#chat {
    height: calc(100% - 3rem);
    background-image: url(https://w0.peakpx.com/wallpaper/744/548/HD-wallpaper-whatsapp-ma-doodle-pattern.jpg);
    position: relative;
    overflow: scroll;
}

#chatInput {
    width: 80%;
    height: 2rem;
    outline: none;
    border-radius: 15px;
    border: 1px solid black;
    padding: 0.7rem;
}

.myChatBar {
    background-color: #eaeaea;
    align-self: baseline;
    border-radius: 0 0 20px 0;
    position: relative;
}

#sideBar{
    overflow-y: scroll;
    border-radius: 0 0 0 20px;
}

#chatSerch{
    width: 100%;
    outline: none;
    border-radius: 15px;
    border: 1px solid black;
    padding: 0.3rem;
}

#serchButton{
    position: absolute;
    right: 0;
    top: 2px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.6rem;
}

.sent {
    background-color: #d5f9ba;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.received{
    background-color: #ffffff;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.active{
    background-color: #e9ebeb;
}

.myIconsColor {
    color: #9b9b9b;
}

.myUltimateMexColor {
    color: #bdc0c5;
}

.myUltimateAccessColor {
    color: #8993a2;
}
.mexHours{
    font-size: 0.5rem;
}
.emoji{
    width: 20rem;
    background-color: white;
    height: 20rem;
    position: absolute;
    bottom: 48px;
    left: 0;
    padding: 0.5rem;
    border: 1px solid #222;
}
.fa-face-smile{
    cursor: pointer;
}
ul {
    list-style: none;
    flex-wrap: wrap;
}
li {
    cursor: pointer;
}